@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}

body {
    /* background-image: url('./images/bg-bg.jpg'); */
    background-color: rgb(12, 12, 12);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  
  
}

.navbar{
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.64);
  width: 100%;
  top: 0;
  z-index: 999;


}
.navbar a {
  font-size: 16px;
  float: left;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: aqua;
  padding: 18px 20px;
  transition: 0.5s ease-in-out;
}

.navbar a:hover{
  transform: scale(1.2);
}

.navbar .active{
  color: red;
}

aside {
    position: fixed; 
    height: auto;
    width: 300px;
    top: 25%; 
    left: 5%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Calistoga", serif;
  
}

aside span {
    font-size: 90px; 
    font-weight: 500;
    gap: 10px;
    color: yellow;
}

.gallery {
    height: auto;
    width: 90%; 
    margin: 30px 20px 20px 20px;
    max-width: 850px; 
    float: right;
    padding: 30px; 
    scroll-behavior: smooth;
}



.card {
    position: relative;
    height: 300px;
    width: calc(25% - 22px);
    margin-bottom: 10px; 
    float: left; 
    margin-right: 10px;
    margin-left: 10px; 
    overflow: hidden;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.card img{
   width: 100%;
   height: 100%;
   object-fit: cover;
    border-radius: 5px;
}

.card .card-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    backdrop-filter: blur(5px);
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.card:hover .card-content{
    right: 0;
}
.card .card-content .card-title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0 10px 10px;
}
.card .card-content .anime{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 5px 10px;
}

.card .card-content .info{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0 0px 10px;

}


.card .card-content .card-btn{
    text-transform: capitalize;
    width: 120px;
    color: rgb(85, 85, 85);
    background: rgb(221, 221, 226);
    padding: 5px 10px;
    margin: 10px 0 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}





@media (min-width:300px) and (max-width:650px){

  .navbar a {
    font-size: 11px;
    float: left;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: aqua;
    padding: 15px 15px;
}

    aside{
        position: relative;
        width: 300px;
        height: 350px;
        top: 30px;
          
      }
      aside span{
        top: 10px;
        gap: 15px;
        font-size: 75px;
        font-weight: 300;
      }
      
      .gallery{
        position: relative;
        width: 320px;
        height: auto;
      }
      
      .card{
        width: 300px;
        height: 450px
      }
      .card img{
        position: relative;
        height: 450px;
        width: 300px; 
    }
}


@media (min-width:700px) and (max-width:1100px){
    aside{
        position: relative;
        top: 40px;
        left: 60px;
        width: 700px;
        height: 180px;
          
      }
      aside span{
        top: 10px;
        gap: 15px;
        font-size: 80px;
        font-weight: 400;
      }
      
      .gallery{
        width: 730px;
        height: auto;
      }
      
      .card{
        width:calc(25%-22px);
        height: 300px
      }
      .card img{
        position: relative;
        height: 300px;
        width: 160px; 
    }
}

